@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.fi-body {
    background-image: url('/resources/images/bg.webp');
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: 0 70px;
}

.content-center {
    align-content: center;
}
