@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.fi-body {
    background-image: url('/resources/images/bg.webp');
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: 0 70px;
}

.content-center {
    align-content: center;
}

.rowSpan-2 {
    @apply row-[1_/_span_2];
}


.iti__flag.iti__il {
    background-position: -4185px 0 !important;
    height: 10px !important;
}

.social-sidebar-group .fi-sidebar-group-items {
    flex-direction: row !important;
}

.social-sidebar-group .fi-sidebar-group-items span, .social-sidebar-group .fi-sidebar-group-button {
    display: none;
}

